.panel-heading {
    text-align: center;
    background-color: rgba(28, 139, 236, 0.616)
}

.panel-body {
    background-color: rgba(255, 255, 255, 0.616);

}

.panel {
    background-color: rgba(255, 255, 255, 0);
}
.error-message{
    color: red;
}
button{
    background-color: rgb(54, 83, 145);
    width: 15%;
    height: 35px;
    border-radius: 10%;
    color: white;
}
button:disabled{
    background-color: rgb(147, 168, 212);
}